    body {
        margin: 0px;
        padding: 0px;
        background-color: #cccccc;
    }
    
    ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
        overflow: hidden;
        background-color: #444;
        text-align: center;
        font-size: 24px;
        line-height: 60px;
        height: 40 px;
    }
    
    a {
        color: #ffffff;
        padding: 20px;
        text-decoration: none;
    }